# Pandas ðŸ¼ (panel data => data over multiple time periods)
Powerful tool for data analysis.
Helps to work with tabular data.

In [ ]:
%pip install pandas

In [6]:
import pandas as pd
pd.__version__

'2.2.3'

In [ ]:
# documentation
pd.read_csv?
#dir(pd)
#help(pd.read_csv)

In [20]:
import pandas as pd
from pathlib import Path

if Path('./olympics_1896_2004.csv').exists():
    odf = pd.read_csv(filepath_or_buffer='./olympics_1896_2004.csv', skiprows=5)
    print(odf.head())
print("***"*30)
if Path('./INNHotelsGroup_pastdata.csv').exists():
    hdf = pd.read_csv(filepath_or_buffer='./INNHotelsGroup_pastdata.csv')
    print(hdf.head())

   Year    City      Sport     Discipline        Athlete Name  NOC Gender  \
0  1896  Athens    Cycling  Cycling Track       FLAMENG, LÃ©on  FRA    Men
1  1896  Athens    Cycling  Cycling Track  KOLETTIS, Georgios  GRE    Men
2  1896  Athens  Athletics      Athletics       LANE, Francis  USA    Men
3  1896  Athens  Athletics      Athletics    SZOKOLYI, Alajos  HUN    Men
4  1896  Athens  Athletics      Athletics       BURKE, Thomas  USA    Men

   Event Event Gender   Medal  Position
0  100km            M    Gold         1
1  100km            M  Silver         2
2   100m            M  Bronze         3
3   100m            M  Bronze         3
4   100m            M    Gold         1
******************************************************************************************
     booking_id  lead_time market_segment_type  no_of_special_requests  \
0  INNHG_101034          0              Online                       0
1  INNHG_101035         34              Online                       2
2  INNHG_101036         24              Online                       1
3  INNHG_101037         23              Online                       0
4  INNHG_101038         46              Online                       1

   avg_price_per_room  no_of_adults  no_of_weekend_nights arrival_date  \
0               85.03             1                     1   2021-01-01
1              125.10             2                     2   2021-01-01
2               71.69             2                     2   2021-01-01
3               84.70             1                     2   2021-01-01
4              149.40             2                     2   2021-01-01

   required_car_parking_space  no_of_week_nights booking_status rebooked
0                           0                  0   Not Canceled      NaN
1                           0                  0   Not Canceled      NaN
2                           0                  0   Not Canceled      NaN
3                           0                  0   Not Canceled      NaN
4                           0                  3       Canceled       No

In [35]:
print(odf.shape)
print("***"*30)
print(odf.columns)
print("***"*30)
print(odf.sample(2))
print("***"*30)
print("Output of describe function - \n",odf.describe())
print("***"*30)
print("Output of info function - \n", odf.info())
print("***"*30)
print("Output of dtype attribute - \n", odf.dtypes)

(27174, 11)
******************************************************************************************
Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal', 'Position'],
      dtype='object')
******************************************************************************************
       Year       City     Sport Discipline             Athlete Name  NOC  \
1977   1912  Stockholm  Shooting   Shooting  MCDONNELL, William Neil  USA
25446  2004     Athens  Aquatics   Swimming             HENRY, Jodie  AUS

      Gender                                  Event Event Gender   Medal  \
1977     Men  100m running deer, single shots, team            M  Silver
25446  Women                 4x100m freestyle relay            W    Gold

       Position
1977          2
25446         1
******************************************************************************************
Output of describe function -
                Year      Position
count  27174.000000  27174.000000
mean    1964.685803      1.992566
std       31.590396      0.817469
min     1896.000000      1.000000
25%     1936.000000      1.000000
50%     1972.000000      2.000000
75%     1992.000000      3.000000
max     2004.000000      3.000000
******************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  object
 2   Sport         27174 non-null  object
 3   Discipline    27174 non-null  object
 4   Athlete Name  27174 non-null  object
 5   NOC           27174 non-null  object
 6   Gender        27174 non-null  object
 7   Event         27174 non-null  object
 8   Event Gender  27174 non-null  object
 9   Medal         27174 non-null  object
 10  Position      27174 non-null  int64
dtypes: int64(2), object(9)
memory usage: 2.3+ MB
Output of info function -
 None
******************************************************************************************
Output of dtype attribute -
 Year             int64
City            object
Sport           object
Discipline      object
Athlete Name    object
NOC             object
Gender          object
Event           object
Event Gender    object
Medal           object
Position         int64
dtype: object

In [34]:
print(hdf.shape)
print("***"*30)
print(hdf.columns)
print("***"*30)
print(hdf.sample(2))
print("***"*30)
print(hdf.describe())
print("***"*30)
print(hdf.info())
print("***"*30)
print(hdf.dtypes)

(27093, 12)
******************************************************************************************
Index(['booking_id', 'lead_time', 'market_segment_type',
       'no_of_special_requests', 'avg_price_per_room', 'no_of_adults',
       'no_of_weekend_nights', 'arrival_date', 'required_car_parking_space',
       'no_of_week_nights', 'booking_status', 'rebooked'],
      dtype='object')
******************************************************************************************
         booking_id  lead_time market_segment_type  no_of_special_requests  \
18087  INNHG_119121         37              Online                       1
12869  INNHG_113903          6              Online                       0

       avg_price_per_room  no_of_adults  no_of_weekend_nights arrival_date  \
18087               143.1             2                     0   2022-03-25
12869                 0.0             1                     0   2021-12-10

       required_car_parking_space  no_of_week_nights booking_status rebooked
18087                           0                  1       Canceled      Yes
12869                           0                  2   Not Canceled      NaN
******************************************************************************************
          lead_time  no_of_special_requests  avg_price_per_room  no_of_adults  \
count  27093.000000            27093.000000        27093.000000  27093.000000
mean      81.605249                0.556454          101.025910      1.825822
std       84.901428                0.743715           34.557289      0.512182
min        0.000000                0.000000            0.000000      0.000000
25%       14.000000                0.000000           79.000000      2.000000
50%       55.000000                0.000000           97.000000      2.000000
75%      118.000000                1.000000          119.000000      2.000000
max      443.000000                5.000000          540.000000      4.000000

       no_of_weekend_nights  required_car_parking_space  no_of_week_nights
count          27093.000000                27093.000000       27093.000000
mean               0.778319                    0.028864           2.171373
std                0.861787                    0.167426           1.386023
min                0.000000                    0.000000           0.000000
25%                0.000000                    0.000000           1.000000
50%                1.000000                    0.000000           2.000000
75%                1.000000                    0.000000           3.000000
max                6.000000                    1.000000          17.000000
******************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27093 entries, 0 to 27092
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   booking_id                  27093 non-null  object
 1   lead_time                   27093 non-null  int64
 2   market_segment_type         27093 non-null  object
 3   no_of_special_requests      27093 non-null  int64
 4   avg_price_per_room          27093 non-null  float64
 5   no_of_adults                27093 non-null  int64
 6   no_of_weekend_nights        27093 non-null  int64
 7   arrival_date                27093 non-null  object
 8   required_car_parking_space  27093 non-null  int64
 9   no_of_week_nights           27093 non-null  int64
 10  booking_status              27093 non-null  object
 11  rebooked                    8857 non-null   object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.5+ MB
None
******************************************************************************************
booking_id                     object
lead_time                       int64
market_segment_type            object
no_of_special_requests          int64
avg_price_per_room            float64
no_of_adults                    int64
no_of_weekend_nights            int64
arrival_date                   object
required_car_parking_space      int64
no_of_week_nights               int64
booking_status                 object
rebooked                       object
dtype: object

In [40]:
pd.get_option?

Signature:   pd.get_option(*args, **kwds) -> 'T'
Type:        CallableDynamicDoc
String form: <pandas._config.config.CallableDynamicDoc object at 0x11cd9ecf0>
File:        ~/Learn/Repos/MyRepos/ai_ml_knowhow/.venv/lib/python3.12/site-packages/pandas/_config/config.py
Docstring:
get_option(pat)

Retrieves the value of the specified option.

Available options:

- compute.[use_bottleneck, use_numba, use_numexpr]
- display.[chop_threshold, colheader_justify, date_dayfirst, date_yearfirst,
  encoding, expand_frame_repr, float_format]
- display.html.[border, table_schema, use_mathjax]
- display.[large_repr, max_categories, max_columns, max_colwidth, max_dir_items,
  max_info_columns, max_info_rows, max_rows, max_seq_items, memory_usage,
  min_rows, multi_sparse, notebook_repr_html, pprint_nest_depth, precision,
  show_dimensions]
- display.unicode.[ambiguous_as_wide, east_asian_width]
- display.[width]
- future.[infer_string, no_silent_downcasting]
- io.excel.ods.[reader, writer]
- io.excel.xls.[reader]
- io.excel.xlsb.[reader]
- io.excel.xlsm.[reader, writer]
- io.excel.xlsx.[reader, writer]
- io.hdf.[default_format, dropna_table]
- io.parquet.[engine]
- io.sql.[engine]
- mode.[chained_assignment, copy_on_write, data_manager, sim_interactive,
  string_storage, use_inf_as_na]
- plotting.[backend]
- plotting.matplotlib.[register_converters]
- styler.format.[decimal, escape, formatter, na_rep, precision, thousands]
- styler.html.[mathjax]
- styler.latex.[environment, hrules, multicol_align, multirow_align]
- styler.render.[encoding, max_columns, max_elements, max_rows, repr]
- styler.sparse.[columns, index]

Parameters
----------
pat : str
    Regexp which should match a single option.
    Note: partial matches are supported for convenience, but unless you use the
    full option name (e.g. x.y.z.option_name), your code may break in future
    versions if new options with similar names are introduced.

Returns
-------
result : the value of the option

Raises
------
OptionError : if no such option exists

Notes
-----
Please reference the :ref:`User Guide <options>` for more information.

The available options with its descriptions:

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller than the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table, or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 or None and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection and defaults to 20.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_dir_items : int
    The number of items that will be added to `dir(...)`. 'None' value means
    unlimited. Because dir is cached, changing this option will not immediately
    affect already existing dataframes until a column is deleted or added.

    This is for instance used to suggest columns from a dataframe to tab
    completion.
    [default: 100] [currently: 100]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
future.infer_string Whether to infer sequence of str objects as pyarrow string dtype, which will be the default in pandas 3.0 (at which point this option will be deprecated).
    [default: False] [currently: False]
future.no_silent_downcasting Whether to opt-in to the future behavior which will *not* silently downcast results from Series and DataFrame `where`, `mask`, and `clip` methods. Silent downcasting will be removed in pandas 3.0 (at which point this option will be deprecated).
    [default: False] [currently: False]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf, calamine.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd, calamine.
    [default: auto] [currently: auto]
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb, calamine.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl, calamine.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl, calamine.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
io.sql.engine : string
    The default sql reader/writer engine. Available options:
    'auto', 'sqlalchemy', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.copy_on_write : bool
    Use new copy-view behaviour using Copy-on-Write. Defaults to False,
    unless overridden by the 'PANDAS_COPY_ON_WRITE' environment variable
    (if set to "1" for True, needs to be set before pandas is imported).
    [default: False] [currently: False]
mode.data_manager : string
    Internal data manager type; can be "block" or "array". Defaults to "block",
    unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
    to be set before pandas is imported).
    [default: block] [currently: block]
    (Deprecated, use `` instead.)
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.string_storage : string
    The default storage for StringDtype. This option is ignored if
    ``future.infer_string`` is set to True.
    [default: python] [currently: python]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).

    This option is deprecated in pandas 2.1.0 and will be removed in 3.0.
    [default: False] [currently: False]
    (Deprecated, use `` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
styler.format.decimal : str
    The character representation for the decimal separator for floats and complex.
    [default: .] [currently: .]
styler.format.escape : str, optional
    Whether to escape certain characters according to the given context; html or latex.
    [default: None] [currently: None]
styler.format.formatter : str, callable, dict, optional
    A formatter object to be used as default within ``Styler.format``.
    [default: None] [currently: None]
styler.format.na_rep : str, optional
    The string representation for values identified as missing.
    [default: None] [currently: None]
styler.format.precision : int
    The precision for floats and complex numbers.
    [default: 6] [currently: 6]
styler.format.thousands : str, optional
    The character representation for thousands separator for floats, int and complex.
    [default: None] [currently: None]
styler.html.mathjax : bool
    If False will render special CSS classes to table attributes that indicate Mathjax
    will not be used in Jupyter Notebook.
    [default: True] [currently: True]
styler.latex.environment : str
    The environment to replace ``\begin{table}``. If "longtable" is used results
    in a specific longtable environment format.
    [default: None] [currently: None]
styler.latex.hrules : bool
    Whether to add horizontal rules on top and bottom and below the headers.
    [default: False] [currently: False]
styler.latex.multicol_align : {"r", "c", "l", "naive-l", "naive-r"}
    The specifier for horizontal alignment of sparsified LaTeX multicolumns. Pipe
    decorators can also be added to non-naive values to draw vertical
    rules, e.g. "\|r" will draw a rule on the left side of right aligned merged cells.
    [default: r] [currently: r]
styler.latex.multirow_align : {"c", "t", "b"}
    The specifier for vertical alignment of sparsified LaTeX multirows.
    [default: c] [currently: c]
styler.render.encoding : str
    The encoding used for output HTML and LaTeX files.
    [default: utf-8] [currently: utf-8]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.max_elements : int
    The maximum number of data-cell (<td>) elements that will be rendered before
    trimming will occur over columns, rows or both if needed.
    [default: 262144] [currently: 262144]
styler.render.max_rows : int, optional
    The maximum number of rows that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.repr : str
    Determine which output to use in Jupyter Notebook in {"html", "latex"}.
    [default: html] [currently: html]
styler.sparse.columns : bool
    Whether to sparsify the display of hierarchical columns. Setting to False will
    display each explicit level element in a hierarchical key for each column.
    [default: True] [currently: True]
styler.sparse.index : bool
    Whether to sparsify the display of a hierarchical index. Setting to False will
    display each explicit level element in a hierarchical key for each row.
    [default: True] [currently: True]

Examples
--------
>>> pd.get_option('display.max_columns')  # doctest: +SKIP
4

In [46]:
print(pd.get_option('display.width'))
pd.set_option('display.width', 1000)
hdf.sample(5)

1000

         booking_id  lead_time market_segment_type  no_of_special_requests  avg_price_per_room  no_of_adults  no_of_weekend_nights arrival_date  required_car_parking_space  no_of_week_nights booking_status rebooked
19823  INNHG_120857         77              Online                       1               68.04             2                     1   2022-04-15                           0                  2   Not Canceled      NaN
23158  INNHG_124192         68              Online                       0              132.60             2                     2   2022-05-21                           0                  3       Canceled      Yes
2268   INNHG_103302         11              Online                       1              129.00             2                     2   2021-02-25                           0                  1   Not Canceled      NaN
25734  INNHG_126768         58              Online                       1              116.10             2                     1   2022-06-17                           0                  2   Not Canceled      NaN
11921  INNHG_112955          5              Online                       1              105.00             2                     1   2021-11-02                           0                  2   Not Canceled      NaN

In [51]:
print(odf['Athlete Name'])
print(type(odf['Athlete Name']))
# Series becomes attribute
print(odf.Discipline)

0             FLAMENG, LÃ©on
1        KOLETTIS, Georgios
2             LANE, Francis
3          SZOKOLYI, Alajos
4             BURKE, Thomas
                ...
27169    LOGOUNOVA, Tatiana
27170         SIVKOVA, Anna
27171        BOKEL, Claudia
27172       DUPLITZER, Imke
27173     HEIDEMANN, Britta
Name: Athlete Name, Length: 27174, dtype: object
<class 'pandas.core.series.Series'>
0        Cycling Track
1        Cycling Track
2            Athletics
3            Athletics
4            Athletics
             ...
27169          Fencing
27170          Fencing
27171          Fencing
27172          Fencing
27173          Fencing
Name: Discipline, Length: 27174, dtype: object

In [54]:
print(odf['Year'].unique(), odf['Year'].value_counts())
print(odf['Sport'].unique(), odf['Sport'].value_counts())

[1896 1900 1904 1908 1912 1920 1924 1928 1932 1936 1948 1952 1956 1960
 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004] Year
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1956     885
1912     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: count, dtype: int64
['Cycling' 'Athletics' 'Aquatics' 'Shooting' 'Tennis' 'Fencing'
 'Weightlifting' 'Gymnastics' 'Wrestling' 'Sailing' 'Archery'
 'Basque Pelota' 'Cricket' 'Croquet' 'Rowing' 'Football' 'Equestrian'
 'Golf' 'Polo' 'Rugby' 'Tug of War' 'Boxing' 'Roque' 'Lacrosse'
 'Water Motorsports' 'Rackets' 'Hockey' 'Jeu de paume' 'Skating'
 'Modern Pentathlon' 'Ice Hockey' 'Canoe / Kayak' 'Basketball' 'Handball'
 'Judo' 'Volleyball' 'Table Tennis' 'Baseball' 'Badminton' 'Softball'
 'Taekwondo' 'Triathlon'] Sport
Aquatics             3481
Athletics            3271
Rowing               2379
Gymnastics           2115
Fencing              1485
Football             1279
Hockey               1227
Wrestling            1069
Shooting             1060
Sailing              1007
Cycling               954
Canoe / Kayak         918
Basketball            868
Equestrian            849
Volleyball            826
Handball              801
Boxing                798
Weightlifting         503
Judo                  379
Archery               281
Baseball              263
Tennis                254
Rugby                 192
Modern Pentathlon     168
Softball              135
Badminton              96
Table Tennis           96
Tug of War             94
Polo                   66
Lacrosse               59
Taekwondo              48
Golf                   30
Ice Hockey             27
Skating                27
Cricket                24
Triathlon              12
Rackets                10
Croquet                 8
Water Motorsports       5
Basque Pelota           4
Jeu de paume            3
Roque                   3
Name: count, dtype: int64

In [ ]:
# What is the tme range covered in this dataset?

In [ ]:
# The Olympics take place every four years. Why are there missing years?

In [ ]:
# What are the types of medals awarded?